#one{
    background-color: rgb(22, 22, 59);
    color: white;
    height: 350px;
    
    
}
#two{
    text-decoration: underline goldenrod;
    color: white;
    
}
#three{
    height: 150px;
    width: 100%;
    background-color: rgb(35, 94, 146);
}
